body, html{
  height: 100vh;
  width: 100vw;
}

.background{
  background-color: #3B6D8C;
}

 .btn-floating{
  background-color: #3B6D8C;
  color: #ffffff;
}

.btn-floating > i:hover{
  background-color: #ffffff;
  color: #3B6D8C;
}

.hero-page{
  background: url("images/highline.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.hero-row{
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.hero-header{
  background: rgba(255, 255, 255, 0.7);
  color: #ffffff;
  border-radius: 5px;
}

.chevron-row{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: auto;
}

.chevron {
  height: 10vh;
  width: 10vw;
}

.chevron-down {
  fill: #ffffff;
  margin: auto;
  width: 2.5em;
  height: 2.5em;
  animation: hover-me .5s infinite ease-in-out alternate;
}

@keyframes hover-me {
  100% {
    transform: translate3d(0, 25px, 0);
  }
}

.portfolio{
  height: 150vh;
  width: 100vw;
}

.portfolio-header > h1{
  margin-top: 5%;
}

.portfolio-img{
  height: 20vh;
  width: 20vh;
  float: right;
  margin-top: .5%;
  margin-right: 10%;
}

.halfway-fab > i:hover{
 background-color: #3B6D8C;
 color: #ffffff;
}

.halfway-fab > i{
 background-color: #ffffff;
 color: #3B6D8C;
}

.card > span{
  color: black;
}

.services{
  height: 75vh;
  width: 100vw;
  background-color: #3B6D8C;
}

.services-header > h1{
  margin-top: 5%;
  color: #ffffff;
}

.collapsible-body{
  background-color: #ffffff;
}

@media only screen and (max-width: 455px){
  body,html{
    background-color: #3B6D8C;
  }

  .portfolio-img{
    display: none
  }

  .services-header, .portfolio-header > h1{
    font-size: 45px;
  }
}
